body {
    background-color: #F5F2F2;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.player-container {
    display: flex;
}

.player {
    margin: 0 20px 0 20px;
}

h2 {
    color: #161e54;
    font-size: 2.5rem;
    font-family: serif;
    text-align: center;
}

button {
    color: #F5F2F2;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 45px;
    cursor: pointer;
    border: none;
    background-color: #5A7ACD;
    border-radius: 20px;
}

button:hover {
    background-color: #4966af;
}

.game-status {
    margin-top: 20px;
}

.status {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    color: #161e54;
    font-family: 'Open Sans';
}